# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

.deps/

*.a
*.o
*.lo
*.swp
*.wav
*.petri-foo

aclocal.m4
autom4te.cache/
compile
config.guess
config.*
configure
depcomp
Makefile
Makefile.in
m4/
missing

libtool
stamp-h1

src/gui/libgui.a
src/petri-foo
src/core

