[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Petri-Foo
GenericName=Petri-Foo
Comment=Sound Sampler
Comment[ru]=Звуковой сэмплер Petri-Foo
Icon=petri-foo
TryExec=petri-foo
Exec=petri-foo
Terminal=false
Categories=Application;Audio;AudioVideo;AudioVideoEditing;X-Jack;Midi;X-Alsa;
MimeType=application/petri-foo;
